<!DOCTYPE html>
<html>

<head>
    <title><p th:text="#{cabecera}"></p></title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="/js/bootstrap.min.js" rel="stylesheet" media="screen" th:href="@{/js/bootstrap.min.js}"/>
   	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{css/core.css}" />
    <link href="/css/bootstrapValidator.min.css" rel="stylesheet" media="screen" th:href="@{css/bootstrapValidator.min.css}"/>
    <link href="/js/bootstrapValidator.min.js" rel="stylesheet" media="screen" th:href="@{js/bootstrapValidator.min.js}"/>   
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 

	<script src="/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="/js/validator/...validator..."></script>
	
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
	
<div class="container">
    <div class="hero-unit">
    <br>    
    </br>
    
     <h1><p th:text="#{Introduce_un_nuevo_siniestro}"></p> </h1>      
 
	 
	 <div th:if="${param.error}">
          <p  th:text="#{nombre_usuario_incorrecto}"></p>
     </div>
     <div th:if="${param.logout}">
          <p  th:text="#{has_salido_de_la_aplicacion}"></p>
            
     </div>
     
     <p>   
     
     <button type="button" th:href="@{/}" class="btn btn-large btn-success" >
  		<i class="glyphicon glyphicon-file"></i>
  		<span  th:text="#{nuevo}"></span>
	  </button>
	  
	  <button type="button" th:href="@{/}" class="btn btn-large btn-danger">
	    <i class="glyphicon glyphicon-trash"></i>
  		<span th:text=" #{borrar}"></span>
	  </button>
             
     </p>
     <!--   role="form" -->
   
 <!--	<form class="form-horizontal" action="siniestro/save" method="post"> -->
  	<form id="attributeForm" class="form-horizontal" action="siniestro/save" method="post"

 		
    	data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"> 	
    	
  		<div class="row">
  			 <div class="form-group">
    			<label  for="exampleInputEmail1" class="col-sm-2 control-label" th:text="#{matricula}"></label>
    			<div class="col-xs-3">
    				<p>
      				<input type="text" class="form-control" name="matricula" id="exampleInputEmail1"  th:placeholder="#{matricula}"
      				 data-bv-notempty="true"
                	 th:data-bv-notempty-message="#{matricula}"
                	 data-toggle="tooltip" data-placement="left" th:title="#{matricula}"/>
      				</p>
    			</div>
  			</div>
  		</div>
        <div class="row">
  			 <div class="form-group">
    			<label  class="col-sm-2 control-label" th:text="#{numero_de_poliza}"></label>
    			<div class="col-xs-3">
    				<p>
      				<input type="text" class="form-control" name="numeroPoliza"  th:placeholder="#{numero_de_poliza}" 
      			     data-bv-notempty="true"      			    
                	 data-toggle="tooltip" data-placement="left" th:title="#{numero_de_poliza}"/>
      				
      				</p>
    			</div>
  			</div>
  		</div>
  		<div class="row">
  			 <div class="form-group">
    			<label class="col-sm-2 control-label" th:text="#{numero_de_bastidor}"></label>
    			<div class="col-xs-3">
    				<p>
      				<input type="text" class="form-control" name="numeroBastidor"  th:placeholder="#{numero_de_bastidor}"
      			     data-bv-notempty="true"
              
					  data-toggle="tooltip" data-placement="left" th:title="#{numero_de_bastidor}"/>
      				</p>
    			</div>
  			</div>
  		</div>
        <div class="row">
  			 <div class="form-group">
    			<label class="col-sm-2 control-label" th:text="#{marca}"></label>
    			<div class="col-xs-3">
    				<p>
      				  <input type="text" class="form-control" name="marca" th:placeholder="#{marca}"
      			      data-bv-notempty="true"                	 
                	  data-toggle="tooltip" data-placement="left" th:title="#{marca}"/>
      				</p>
    			</div>
  			</div>
  		</div>  
  		<div class="row">
  		 <div class="form-group">
    			<label class="col-sm-2 control-label" th:text="#{modelo}"></label>
    			<div class="col-xs-3">
    				<p>
      				<input type="text" class="form-control" name="modelo"  th:placeholder="#{modelo}"
      			     data-bv-notempty="true"                	
                	 data-toggle="tooltip" data-placement="left" th:title="#{modelo}"/>      				
      				</p>
    			</div>
  			</div>
  		</div>  
  		<div class="row">
  			 <div class="form-group">
    			<label class="col-sm-2 control-label" th:text="#{fecha_del_accidente}"></label>
    			<div class="col-xs-3">
    				<p>
      				<input type="text" class="form-control" name="fechaAccidente"  th:placeholder="#{formatofecha}"
      			     data-bv-notempty="true"                
      				 data-toggle="tooltip" data-placement="left" th:title="#{fecha_del_accidente}"/>
      				</p>
    			</div>
  			</div>
  		</div>  
  		<div class="row">
  			 <div class="form-group">
    			<label class="col-sm-2 control-label" th:text="#{lugar_del_accidente}"></label>
    			<div class="col-xs-3">
    				<p>
      				<input type="text" class="form-control" name="lugarAccidente"  th:placeholder="#{lugar_del_accidente}"
      			     data-bv-notempty="true"
                	
                	 data-toggle="tooltip" data-placement="left" th:title="#{lugar_del_accidente}"/>
      				</p>
    			</div>
  			</div>
  		</div>  
  		<div class="row">
  			 <div class="form-group">
    			<label class="col-sm-2 control-label" th:text="#{tipo}"></label>
    			<div class="col-xs-3">
    				<p>
      				<input type="text" class="form-control" name="tipo"  th:placeholder="#{tipo}"
      				 data-bv-notempty="true"
                	 data-bv-notempty-message="CACA" 
                	 data-toggle="tooltip" data-placement="left" th:title="#{tipo}"/>
      				</p>
    			</div>
  			</div>
  		</div>                       
        <div  data-toggle="tooltip" data-placement="left" th:title="#{guardar}">        
          <button type="submit" value="Submit" class="btn btn-large btn-success" >
             	<i class="glyphicon glyphicon-floppy-open"></i>
            	<span  th:text="#{guardar}"></span>            	
          </button>
       </div>  
           
     </form>     
      <!--  <input type="submit"value="Submit"/></div> -->
 
	<br>
	
	</br>
	
<table class= "table table-condensed">
  <tr class="success">
    <th th:text="#{matricula}"></th>
    <th th:text="#{numero_de_poliza}"></th>
    <th th:text="#{numero_de_bastidor}"></th>
    <th th:text="#{marca}"></th>
    <th th:text="#{modelo}"></th>
    <th th:text="#{fecha_del_accidente}"></th>
    <th th:text="#{lugar_del_accidente}"></th>
    <th th:text="#{tipo}"></th>    
       
  </tr>
   <tr class="info" th:each="siniestro : ${siniestroList}">
        <td th:text="${siniestro.matricula}"></td>
        <td th:text="${siniestro.numeroPoliza}"></td>
        <td th:text="${siniestro.numeroBastidor}"></td>
        <td th:text="${siniestro.marca}"></td>
        <td th:text="${siniestro.modelo}"></td>
        <td th:text="${siniestro.fechaAccidente}"></td>
        <!-- th:text="${#dates.format(siniestro.fechaAccidente.toGregorianCalendar().getTime(),'yyyy-MM-dd')}">   -->
        <td th:text="${siniestro.lugarAccidente}"></td>
        <td th:text="${siniestro.tipo}"></td>       
        <td>   <button class="btn btn-large btn-danger" href="#" th:href="@{/siniestro/delete(id=${siniestro.id})}" data-toggle="tooltip" data-placement="left" th:title="#{borrar}">
  					<i class="glyphicon glyphicon-trash"></i>
  					<span th:text="#{borrar}"></span>  					
	  			</button>            
      	</td>
      	<td><a class = "btn btn-large btn-danger" href="#" th:href="@{/siniestro/delete(id=${siniestro.id})}" data-toggle="tooltip" data-placement="left" th:title="#{borrar}">
      			<i class="glyphicon glyphicon-trash"></i>
      			<span th:text="#{borrar}"></span> 
      		</a> 
		</td>
   
   </tr> 
  </table>
	
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>

<script type="text/javascript">
$(document).ready(function() {
    $('#attributeForm').bootstrapValidator({
    	 
    	 fields: {
    		 matricula: {
                 validators: {
                     notEmpty: {
                         message: 'The matricula is required'
                     }
                 }
             }
         }
               
    
    });
    $('#attributeForm').tooltip(options)
});

</script>

</html>

